.banner{
    position: relative;
}
.banner__logo{
    height: 70vh;
    width: 100%;
}

.banner__h2{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 4px 4px rgb(0, 0, 0.75);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__h2 {
        font-size: 3rem;
        
    }
}
@media screen and (min-width: 768px) {
    .banner__h2 {
        font-size: 5rem;
    }
}
    
@media screen and (min-width: 0) {
    .logo {
        display: none;
        
    }
}
@media screen and (min-width: 768px) {
    .logo {
        display: block;
    }
}
